* {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#box {
  border-radius: 20px;
  display: flex;
  width: 50%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

#box1,
#box2 {
  display: flex;
  width: 50%;
  border-radius: 20px;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 5vh 0;
}
#box1 {
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  color: rgb(219, 215, 215);
  align-items: center;
  gap: 4vh;
}
#pp {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 100%;
  width: 150px;
  height: 150px;
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}
#box1 h4 {
  display: flex;
  justify-content: center;
}
#p2 {
  display: flex;
  justify-content: center;
  text-align: center;
}
#box2 {
  display: flex;
  width: 50%;
  flex-direction: column;
  border-radius: 20px;
}
#box22 {
  display: flex;
  width: 80%;
  border-radius: 40px;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 30px;
}
#box22 h2{
display: flex;
padding-right: 60%;
color: hsl(224, 44%, 21%);
}
#pp2, #pp4, #pp6, #pp8 {
  display: flex;
  text-justify: inherit;
}

.num{
  display: flex;
  color: rgb(129, 113, 113);
}
.sum1 {
  display: flex;
  height: 40px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}
#rea {
  display: flex;
  justify-content: space-around;
  background-color: hsla(0, 100%, 67%, 0.1);
}
#pp1 {
  display: flex;
  padding-right: 100px;
  color: hsl(0, 100%, 67%);
}
.inner {
  display: flex;
  gap: 3px;
}
#mem {
  display: flex;
  justify-content: space-around;
  background-color: hsla(39, 100%, 56%, 0.1);
}
#pp3 {
  display: flex;
  padding-right: 100px;
  color: hsl(39, 100%, 56%);
}
#ver {
  display: flex;
  justify-content: space-around;
  background-color: hsla(166, 100%, 37%, 0.1);
}
#pp5 {
  display: flex;
  padding-right: 100px;
  color: hsl(166, 100%, 37%);
}
#vis {
  display: flex;
  justify-content: space-around;
  background-color: hsla(234, 85%, 45%, 0.1);
}
#pp7 {
  display: flex;
  padding-right: 100px;
  color: hsl(234, 85%, 45%);
}
#cot {
  display: flex;
  border: solid black 1px;
  border-radius: 30px;
  width: 100%;
  padding: 10px 0;
  justify-content: center;
  color: white;
  background-color: hsl(224, 30%, 27%);
}
#cot:hover {
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}
@media (max-width: 576px) {
  #box1,
  #box2 {
    width: 100%;
  }
  #box {
    flex-direction: column;
    width: 100%;
  }
}
@media (min-width: 577px) and (max-width: 992px) {
  #box {
    width: 100%;
  }
}
